<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">JB-CENTER</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav justify-content-end" >
          <li class="nav-item">
            
            <a class="nav-link active" aria-current="page" routerLink="/home"><i class="bi bi-house-door"></i>Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/RechercherFormat">Rechercher une formation</a>
          </li>
          <li class="nav-item"  *ngIf="this.id_canduidat==null && this.id_formateure==null">
            <a class="nav-link" [routerLink]="['/login', candadat]" >Espace Candidat</a>
          </li>
          <li class="nav-item" *ngIf="this.id_canduidat!=null">
            <a class="nav-link" [routerLink]="['/EspaceCandidat']" >Mes Formation</a>
          </li>
          <li class="nav-item" *ngIf=" this.id_formateure!=null">
            <a class="nav-link" [routerLink]="['/EspaceFormateur']" >Mes Formation</a>
          </li>
          <li class="nav-item" *ngIf="this.id_formateure==null && this.id_canduidat==null">
            <a class="nav-link" [routerLink]="['/login', formature]">Espace Formateur</a>
          </li>
          <li class="nav-item" *ngIf="this.id_canduidat!=null || this.id_formateure!=null">
            <a class="nav-link" [routerLink]="['/home']" (click)="logout()">Déconnecter</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>